name: 'Terraform Security'

on:
  push:
    branches:
      - main
      - develop
    paths:
      - 'month-01/terraform-basics/**'
  pull_request:
    branches:
      - main
    paths:
      - 'month-01/terraform-basics/**'

jobs:
  tfsec:
    name: 'TFSec Security Scan'
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      
      - name: Run tfsec
        uses: aquasecurity/tfsec-action@v1.0.0
        with:
          working_directory: 'month-01/terraform-basics'
          format: 'sarif'
          out: 'tfsec.sarif'
        continue-on-error: true
      
      - name: Upload SARIF report
        uses: github/codeql-action/upload-sarif@v2
        with:
          sarif_file: tfsec.sarif
        if: always()

  checkov:
    name: 'Checkov IaC Scan'
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      
      - name: Run Checkov
        uses: bridgecrewio/checkov-action@master
        with:
          directory: month-01/terraform-basics
          framework: terraform
          quiet: false
          soft_fail: true
        continue-on-error: true
